{% extends "template.html" %}

{% block customcss %}
<style>
body {
    overflow: hidden;
}
</style>
{% endblock %}

{% block content %}
<div class="w-full mt-5">
    <!-- Header Section -->
    <header class="mb-5 h-8 flex items-center justify-between">
        <!-- Search Bar -->
        <div class="relative mt-1 w-1/8">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fa-solid fa-magnifying-glass text-gray-400"></i>
            </span>
            <input class="block w-full border border-gray-700 rounded-md py-1.5 pl-10 pr-3 shadow-sm text-sm
                            bg-gray-800 text-white placeholder-gray-400
                            focus:outline-none focus:border-[#364056] focus:ring-[#364056] focus:ring-1"
                    placeholder="Rechercher dans l'outil">
        </div>
        <div class="flex items-center ml-auto">
            <!-- Include the datepicker component -->
            {% include 'datepicker.html' %}
        </div>
    </header>

    <!-- Grid Container -->
    <div class="grid grid-cols-2 gap-8 mb-10">
        <!-- Intégration -->
        <div class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px]" style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE D’INTÉGRATION
            </span>
            <span class="absolute top-16 left-8 text-white font-medium" style="font-family: 'Poppins', sans-serif;">
                <span style="font-size: 48px;">6291</span>
                <span style="font-size: 14px;">fichiers</span>
            </span>
            <!-- Fichiers intégrés avec succès -->
            <div class="absolute top-40 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Fichiers intégrés avec succès</span>
                <span class="text-white w-16  ml-[-14px] text-right">3775</span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div class="bg-[#388E3C] h-2.5 rounded-full" style="width: 60%; background-color: #388E3C"></div>
                </div>
            </div>
            <!-- Erreur à l'intégration -->
            <div class="absolute top-52 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Erreur à l'intégration</span>
                <span class="text-white w-16 ml-[-14px] text-right">2013</span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div class="bg-yellow-400 h-2.5 rounded-full" style="width: 32%;background-color: #F57C00;"></div>
                </div>
            </div>
            <!-- Intégration impossible -->
            <div class="absolute top-64 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Intégration impossible</span>
                <span class="text-white w-16  ml-[-14px] text-right">503</span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div class="bg-red-600 h-2.5 rounded-full" style="width: 8%;background-color: #D32F2F"></div>
                </div>
            </div>
        </div>
        
        <!-- Présence -->
        <div class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px]" style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE DE PRÉSENCE
            </span>
        </div>
        <!-- Référence -->
        <div class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px]" style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE DE RÉFÉRENCE
            </span>
        </div>
        <!-- Analyse -->
        <div class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px]" style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE D'ANALYSE
            </span>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<script type="text/javascript" src="{{ url_for('home.static', filename='js/home.js') }}"></script>
{% endblock %}