{% extends "template.html" %}

{% block customcss %}
<style>
    body {
        overflow: hidden;
    }
    
    .refresh-icon.spin {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    
</style>
{% endblock %}

{% block content %}
<div class="w-full mt-5">
    <!-- Header Section -->
    <header class="mb-5 h-8 flex items-center justify-between w-full">
        <!-- Barre de recherche -->
        <div class="relative mt-1 w-[200px]">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fa-solid fa-magnifying-glass text-gray-400"></i>
            </span>
            <input id="searchBar" class="block w-full border border-gray-700 rounded-md py-1.5 pl-10 pr-3 shadow-sm text-sm
                            bg-gray-800 text-white placeholder-gray-400
                            focus:outline-none focus:border-[#364056] focus:ring-[#364056] focus:ring-1"
                    placeholder="Rechercher dans l'outil">
        </div>
        
        <div class="flex-grow"></div>
    
        <!-- Datepicker section -->
        <div class="flex items-center">
            {% include 'datepicker.html' %}
        </div>
    </header>
    

    <!-- Grid Container -->
    <div class="grid grid-cols-2 gap-8 mb-10">
        <!-- Intégration -->
        <div id="integration" class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <!-- Title -->
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px] cursor-pointer select-none integration z-10"
                  style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE D’INTÉGRATION
            </span>
            <!-- Refresh Icon -->
            <i class="fa-sharp fa-light fa-arrows-rotate refresh-icon absolute top-4 right-4 cursor-pointer z-20 keep-visible 
               text-[#25C8A8] text-2xl" onclick="refreshBox(this)"></i>

            <!-- Remaining content -->
            <div id="integration-container"></div>
            <span class="absolute top-16 left-8 text-white font-medium" style="font-family: 'Poppins', sans-serif;">
                <span id="totalFiles" class="text-4xl"></span>
                <span class="text-sm">fichiers</span>
            </span>

            <!-- Intégration impossible -->
            <div class="absolute top-40 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Intégration impossible</span>
                <span id="impossibleCount" class="text-white w-16 ml-[-14px] text-right"></span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div id="impossibleBar" class="bg-red-600 h-2.5 rounded-full" style="width: 0%;"></div>
                </div>
            </div>

            <!-- Erreur à l'intégration -->
            <div class="absolute top-52 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Erreur à l'intégration</span>
                <span id="errorCount" class="text-white w-16 ml-[-14px] text-right"></span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div id="errorBar" class="bg-yellow-400 h-2.5 rounded-full" style="width: 0%;"></div>
                </div>
            </div>

            <!-- Fichiers intégrés avec succès -->
            <div class="absolute top-64 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Fichiers intégrés avec succès</span>
                <span id="successCount" class="text-white w-16 ml-[-14px] text-right"></span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div id="successBar" class="bg-[#388E3C] h-2.5 rounded-full" style="width: 0%;"></div>
                </div>
            </div>

            <!-- Highcharts Container -->
            <div id="integrationChart" class="absolute top-24 right-8 w-[250px] h-[250px]"></div>
        </div>
        
        <!-- Présence -->
        <div id="presence" class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <!-- Title -->
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px] cursor-pointer select-none presence z-10"
                  style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE DE PRÉSENCE
            </span>
            <!-- Refresh Icon -->
            <i class="fa-sharp fa-light fa-arrows-rotate refresh-icon absolute top-4 right-4 cursor-pointer z-20 keep-visible 
               text-[#25C8A8] text-2xl" onclick="refreshBox(this)"></i>
            <div id="presence-container"></div>
        </div>

        <!-- Référence -->
        <div id="reference" class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <!-- Title -->
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px] cursor-pointer select-none reference z-10"
                  style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE DE RÉFÉRENCE
            </span>
            <!-- Refresh Icon -->
            <i class="fa-sharp fa-light fa-arrows-rotate refresh-icon absolute top-4 right-4 cursor-pointer z-20 keep-visible 
               text-[#25C8A8] text-2xl" onclick="refreshBox(this)"></i>
            <div id="reference-container"></div>
        </div>

        <!-- Analyse -->
        <div id="analyse" class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <!-- Title -->
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px] cursor-pointer select-none analyse z-10"
                  style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE D’ANALYSE
            </span>
            <!-- Refresh Icon -->
            <i class="fa-sharp fa-light fa-arrows-rotate refresh-icon absolute top-4 right-4 cursor-pointer z-20 keep-visible 
               text-[#25C8A8] text-2xl" onclick="refreshBox(this)"></i>
            <div id="analyse-container"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="text/javascript" src="{{ url_for('integration.static', filename='js/integration.js') }}"></script>
<script type="text/javascript" src="{{ url_for('home.static', filename='js/home.js') }}"></script>
{% endblock %}
