{% extends "template.html" %}

{% block customcss %}
<style>
body {
    overflow: hidden;
}
</style>
{% endblock %}

{% block content %}
<div class="w-full mt-5">
    <!-- Header Section -->
    <header class="mb-5 h-8 flex items-center justify-between">
        <!-- Search Bar -->
        <div class="relative mt-1 w-1/8">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fa-solid fa-magnifying-glass text-gray-400"></i>
            </span>
            <input class="block w-full border border-gray-700 rounded-md py-1.5 pl-10 pr-3 shadow-sm text-sm
                            bg-gray-800 text-white placeholder-gray-400
                            focus:outline-none focus:border-[#364056] focus:ring-[#364056] focus:ring-1"
                    placeholder="Rechercher dans l'outil">
        </div>
        <!-- Date Range Picker and Period Selector -->
        <div class="flex items-center space-x-4 ml-8">
            <div id="date-range-picker" date-rangepicker class="flex items-center">
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-400 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2Z"/>
                        </svg>
                    </div>
                    <input id="datepicker-range-start" name="start" datepicker-buttons type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:outline-none focus:border-[#364056] focus:ring-[#364056] focus:ring-1 block w-40 ps-10 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Date de début">
                </div>
                <span class="mx-4 text-gray-400">à</span>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-400 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2Z"/>
                        </svg>
                    </div>
                    <input id="datepicker-range-end" name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:outline-none focus:border-[#364056] focus:ring-[#364056] focus:ring-1 block w-40 ps-10 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Date de fin">
                </div>
            </div>
            <div class="flex items-center">
                <form class="flex items-center">
                    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-400 focus:border-blue-400 block w-52 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-400 dark:focus:border-blue-400">
                        <option selected>Séléctionner une période</option>
                        <option value="US">1 semaine</option>
                        <option value="CA">1 mois</option>
                        <option value="FR">3 mois</option>
                        <option value="DE">6 mois</option>
                    </select>
                </form>
            </div>
        </div>
    </header>

    <!-- Grid Container -->
    <div class="grid grid-cols-2 gap-8 mb-10">
        <!-- Intégration -->
        <div class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px]" style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE D’INTÉGRATION
            </span>
            <span class="absolute top-16 left-8 text-white font-medium" style="font-family: 'Poppins', sans-serif;">
                <span style="font-size: 48px;">6291</span>
                <span style="font-size: 14px;">fichiers</span>
            </span>
            <!-- Fichiers intégrés avec succès -->
            <div class="absolute top-40 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Fichiers intégrés avec succès</span>
                <span class="text-white w-16  ml-[-14px] text-right">3775</span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div class="bg-[#388E3C] h-2.5 rounded-full" style="width: 60%; background-color: #388E3C"></div>
                </div>
            </div>
            <!-- Erreur à l'intégration -->
            <div class="absolute top-52 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Erreur à l'intégration</span>
                <span class="text-white w-16 ml-[-14px] text-right">2013</span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div class="bg-yellow-400 h-2.5 rounded-full" style="width: 32%;background-color: #F57C00;"></div>
                </div>
            </div>
            <!-- Intégration impossible -->
            <div class="absolute top-64 left-4 flex items-center text-[#AAAAAA]" style="font-family: 'Poppins', sans-serif;">
                <span class="w-64">Intégration impossible</span>
                <span class="text-white w-16  ml-[-14px] text-right">503</span>
                <div class="w-24 ml-4 bg-[#2B2E3C] rounded-full h-2.5">
                    <div class="bg-red-600 h-2.5 rounded-full" style="width: 8%;background-color: #D32F2F"></div>
                </div>
            </div>
        </div>
        
        <!-- Présence -->
        <div class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px]" style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE DE PRÉSENCE
            </span>
        </div>
        <!-- Référence -->
        <div class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px]" style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE DE RÉFÉRENCE
            </span>
        </div>
        <!-- Analyse -->
        <div class="h-[400px] bg-[#364056] rounded-lg shadow-lg relative transition-all duration-400 ease-in-out">
            <span class="absolute top-4 left-4 text-[#AAAAAA] font-bold text-[20px]" style="font-family: 'Poppins', sans-serif;" onclick="toggleExpand(this)">
                CONTRÔLE D'ANALYSE
            </span>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{{ url_for('home.static', filename='js/home.js') }}"></script>
{% endblock %}