<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title Tag -->
    <title>Dashboard</title>

    <!-- Page icon -->
		<link rel="shortcut icon" href="{{ url_for('home.static', filename='img/logo_2021.png') }}">

    <!-- Tailwind CSS -->
     <!-- Datatable -->
		<link 	rel="stylesheet" 
        type="text/css" 
        href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-1.13.8/b-2.4.2/b-colvis-2.4.2/b-html5-2.4.2/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.11.0/r-2.5.0/rg-1.4.1/rr-1.4.1/sc-2.3.0/sl-1.7.0/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet">
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a9aaa32eca.js" crossorigin="anonymous"></script>

    {% block customcss %}{% endblock %}
    {% block customjs %}{% endblock %}
</head>

<body class="min-h-screen flex items-center justify-center" style="background-color: #2B2E3C;">
    <div class="container mx-auto">
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </div>
</body>
</html>